<!DOCTYPE html>
<html>
<head>
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
</head>
<body>
        <div class="thumbnail">
            <h3>Decorul modern, elegant al restaurantului si preparatele gătite cu pasiune ,
                oferă ambianța perfectă pentru o masă cu familia sau prietenii.
                În atmonsfera creată prin calitatea mobilierului, finisajului și a decorului și 
                de asemenea ospitalitatea oferită de către personalul restaurantului,
                va invităm să descoperiți alături de noi arta aprecierii unei băuturi răcoritoare și savoarea preparatelor noastre .
                Pe lângă alegerea unui meniu variat care să satisfacă cât mai bine cerințele clienților
                și a unui personal de servire amabil și eficient , am acordat o mare atenție decorării restaurantului 
                și dotării acestuia cu aparate de aer condiționat pentru timpul verii, si sisteme de încălzire pentru anotimpul rece .
                Meniul restaurantului oferă și mâncăruri tradiționale românești , cu ingrediente de calitate .
                Așadar , ideal pentru o atmonsferă de vis între prieteni , sau în familie, 
                restaurantul nostru vă întâmpină întotdeauna cu profesionalism 
            și o servire care poate mulțumi chiar și cel mai exigent client.</h3>
        </div>
       
</body>
</html>